
<div class='container mt-3'>
<div class="card m-3">
   <div class="card-body">
      <p>{{username}} posts:</p>
      <ul class="list-group">
        {{#if posts.length}}
          {{#each posts as |post|}}
             <li class="list-group-item clearfix">
                 <h4 class="float-left"><a href='api/posts/{{post.id}}'>{{post.title}}</a></h4>
                  <button
                    id='del-link'
                    class='btn btn-link float-right'
                    data-id='{{post.id}}'
                  >Delete</button>
                    <button
                    id='edit-link'
                    class='btn btn-link float-right'
                    data-id='{{post.id}}'
                  >Edit</button>
            </li>
          {{/each}}
        {{else}}
          <small class="text-muted">No current posts.</small>
        {{/if}}
      </ul>
  </div>
    
  <div class='d-flex flex-column align-items-center'>

    <form
      class='form new-project-form mt-1'
      action='/api/recipes/'
      method='POST'
      enctype='multipart/form-data'
      style='width:80%;max-width:600px;'
    >
      <div class='form-group'>
        <label for='title'>Title:</label>
        <input
          class='form-input form-control form-control'
          type='text'
          id='recipe-name'
          name='name'
        />
      </div>
      <div class='form-group'>
        <label for='content'>Content:</label>
        <textarea
          class='form-input form-control'
          id='recipe-desc'
          name='description'
        ></textarea>
      </div>
      <div class='form-group'>
        <button
          type='submit'
          class='btn btn-success d-block mx-auto'
        >Add Post</button>
      </div>
    </form>

  </div>

</div>
<button
          type='button'
          onclick="javascript:history.back()"
          class='btn btn-primary d-block mt-1 mx-auto'
        >Back</button>
</div>

<script src='./js/profile.js'></script>